<div id="<%= dom_id status %>">
  <p>
    <strong>Description:</strong>
    <%= status.description %>
  </p>

  <p>
    <strong>Created at:</strong>
    <%= status.created_at %>
  </p>

  <p>
    <strong>Updated at:</strong>
    <%= status.updated_at %>
  </p>

</div>
