<div id="<%= dom_id stopwatch %>">
  <p>
    <strong>Started at:</strong>
    <%= stopwatch.started_at %>
  </p>

  <p>
    <strong>Completed at:</strong>
    <%= stopwatch.completed_at %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= stopwatch.duration %>
  </p>

</div>
