<div id="<%= dom_id level %>">
  <p>
    <strong>Description:</strong>
    <%= level.description %>
  </p>

  <p>
    <strong>Created at:</strong>
    <%= level.created_at %>
  </p>

  <p>
    <strong>Updated at:</strong>
    <%= level.updated_at %>
  </p>

</div>
